<div class="remove-container container-block">
  <h2 class="container-block-title">
    Institutions
  </h2>
  <ul class="list-unstyled interests-list">
    <!-- <li><a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk">How to use?</a></li> -->
     <li><a href="https://helsing.ai/" target="_blank" rel="nofollow"><img src="helsing.ico" width="200" height="200"/></a></li>
     <li><a href="https://cvc.uab.es/" target="_blank" rel="nofollow"><img src="cvc.ico" width="205" height="95"/></a></li>
     <li><a href="https://uab.cat/" target="_blank" rel="nofollow"><img src="uab.ico" width="205" height="95"/></a></li>
     <!-- <li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a> -->
     <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
  </ul>
</div><!--//About-->
