/* Darkmode variables */
$theme-color: #000000; /*#5BB66F; #022a5d; #000000; #003366 */
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #022a5d; /*#00004d;*/
$heart: #fb866a;
